<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Sign up</title>
</head>
<body>
<form action = "/user" method = "post">
    <div class="form-group">
        <label>Name
            <input type="text" name="username" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" class="form-control">
        </label>
    </div>
        <div class="form-group">
        <label>Password
            <input type="password" name="password" class="form-control">
        </label>
        </div>
            <div class="form-group">
        <label>Verify
            <input type="password" name="verify" class="form-control">
        </label>
            </div>
       <div> <button type="submit">Sign Up</button></div>

</form>
<div th:if = '${error}' class="text-danger">
    <div th:text = "${error}"></div>
</div>

</body>
</html>